@import '../../../Styles/Variables/Variables.scss';

.form {
	margin-top: 25px;
	strong {
		margin: 15px 0;
		display: block;
	}
	.buttonsWrapper {
		display: flex;
		justify-content: flex-start;
		button {
			font: inherit;
			cursor: pointer;
			background-color: $--secondary-color;
			border: 1px solid $--secondary-color;
			color: white;
			padding: 0.5rem;
			border-radius: 20px;
			font-weight: bold;
			padding: 10px 40px;

			&:hover,
			&:active {
				background-color: #3f2170;
				border-color: #3f2170;
			}
		}
		.pickup {
			@extend button;
			background-color: $--primary-color;
			border: 1px solid $--primary-color;
			color: black;
			margin-left: 10px;

			&:hover,
			&:active {
				background-color: #d8ce13;
				border-color: #d8ce13;
			}
		}
	}
}
