.footer {
	background-color: gray;
	color: white;
	padding: 0 10%;
}

.footerTop {
	width: 100%;
	display: flex;
}

.footerTopLeft,
.footerTopRight {
	width: 50%;
}

.footerTop h1 {
	color: yellow;
	font-size: 2rem;
}

.vr {
	padding: 1px;
	margin: 30px;
	height: 260px;
	background-color: rgba(220, 220, 220, 0.214);
}

.info {
	display: flex;
}

.info section {
	padding: 10px;
	margin-top: 20px;
}

.info section:first-child {
	width: 90%;
}
.info ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.info li {
	width: max-content;
	padding: 5px;
	font-size: 0.9rem;
}

.info a {
	text-decoration: none;
	color: white;
}

.info img {
	width: 20px;
}

.info p {
	display: inline;
}

.hr {
	border: 1px solid rgba(220, 220, 220, 0.214);
}

.footerBottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.footerBottom div {
	display: flex;
}
.footerBottom div img {
	width: 40px;
}

@media screen and (max-width: 800px) {
	.footerTop {
		flex-direction: column;
	}

	.vr {
		padding: 1px;
		margin: 30px;
		height: 1px;
		background-color: rgba(220, 220, 220, 0.214);
	}
	.footerTopLeft,
	.footerTopRight {
		width: 100%;
	}
}
